--extra-index-url https://download.pytorch.org/whl/cu126  # CUDA 12.6 support for torch and torchvision.

jupyter==1.0.0  # Jupyter system, including the notebook and the IPython kernel, all in one go.
datasets~=4.0.0
pandas~=2.3.1
scikit-learn~=1.7.1
plotly~=6.2.0
numpy~=2.3.2
transformers~=4.55.0
torch==2.8.0
torchvision==0.23.0
accelerate~=1.10.0
hf-xet~=1.1.7
click~=8.2.1
kaleido~=1.0.0

# For Mistral
protobuf~=6.31.1  
sentencepiece~=0.2.0

# Linting and formatting
isort~=6.0.1
black[jupyter]~=25.1.0
flake8~=5.0.4
