--extra-index-url https://download.pytorch.org/whl/cu126  # CUDA 12.6 support for torch and torchvision.

datasets~=4.0.0
pandas~=2.3.1
scikit-learn~=1.7.1
plotly~=6.2.0
numpy~=2.3.2
transformers~=4.55.0
torch==2.8.0
torchvision==0.23.0
accelerate~=1.10.0
click~=8.2.1

# Requirements for the documentation web server
Flask~=3.1.1
gunicorn~=23.0.0
markdown~=3.8.2
